.heading {
  min-height: 75vh;
  max-height: 800px;
  width: 100%;
  background-image: url('../images/sitePhotos/IMG_20190818_190414-min.jpg');
  background-position: 25% 30%;
  background-size: cover;
  background-repeat: no-repeat;
  color: white;
  position: relative;
  padding: 0px;
    
  display: grid;
  grid-template-columns: auto minmax(auto, 1200px) auto;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
          
}

#janetHeading {
  background-image: url('../images/sitePhotos/Janet.jpg');
  background-position: 42% 35%;
  background-attachment: initial;
}

#theresaHeading {
  background-image: url('../images/sitePhotos/Theresa.jpg');
  background-position: 50% 90%;
  background-attachment: initial;
}

.heading::before {
  content: '';
  position: absolute;
  top:0;
  left: 0;
  height: 100%;
  width: 100%;
  background: rgba(0, 0, 0, 0.4);
}

.heading > div {
  grid-column: 2/3;
  display: grid;
  grid-gap: 20px;
  max-width: 500px;
  position: sticky;
  top: 26%;
  justify-self: end;
  align-self: end;
  padding-bottom: 20px;
  background: radial-gradient(farthest-side, rgba(0, 0, 0, 0.6), rgba(0, 0, 0, .3));
  -webkit-filter: drop-shadow(0 0 10px  rgba(0, 0, 0, .35));
          filter: drop-shadow(0 0 10px  rgba(0, 0, 0, .35));
  -webkit-box-shadow: 0 0 50px 20px rgba(0, 0, 0, .35);
          box-shadow: 0 0 50px 20px rgba(0, 0, 0, .35);
}

#janetHeading div {
  top: 70%;
}

#theresaHeading div {
  top: 50%;
}

.heading > div > div {
  display: grid;
  grid-gap: 5px;
  font-weight: bold;
}

.heading > div > div p:nth-child(2) {
  font-size: .6rem;
  padding-left: 2em;
}

section {
  display: grid;
  padding: 20px;
  background: linear-gradient(
              135deg,
              white 22%,
              #ccdbee 25% 27%,
              #99afd7 30%,
              #6888BE);
  grid-gap: 30px;
}

.appointment-options {
  background: white;
  place-items: center;
}

.appointment-options div h3 {
  text-align: center;
}

section .img-container {
  -webkit-filter: drop-shadow(5px 5px 20px #233c6781);
          filter: drop-shadow(5px 5px 20px #233c6781);
  width: 75vw;
  height: 75vw;
  margin: auto;
  max-width: 500px;
  max-height: 500px;
  border-radius: 50%;
  overflow: hidden;
}

.img-container > img {
  object-fit: cover;
  object-position: left bottom;
  height: 150%;
}

#janetImgContainer > img {
  object-fit: cover;
  height: 155%;
  object-position: right 3em bottom 3em;
}

#theresaImgContainer > img {
  object-fit: cover;
  height: 155%;
  object-position: right 0em bottom 10em;
}

section p {
  text-indent: 1.5em;
}

.content{
  display: grid;
  grid-gap: 10px;
}

#theresaContent p span {
  font-style: italic;
  display: block;
  margin: 10px 0;
  padding: 0 40px;
  text-indent: 0;
}

.button {
  place-self: center;
}

.sign-off {
  margin-top: 10px;
  text-indent: 0;
}

@media screen and (min-width: 949px) {
  .heading {
    min-height: 80vh;
  }

  .heading > div {
    align-self: center;
  }

  section {
    grid-template-columns: 1fr 350px minmax(auto, 800px) 1fr;
    justify-items: center;
    -webkit-box-align: center;
       -ms-flex-align: center;
          align-items: center;
    padding: 50px 20px;
  }

  section .img-container {
    grid-column: 2/3;
    max-width: 350px;
    max-height: 350px;
  }

  .img-container > img {
    object-fit: cover;
    object-position: left bottom;
  }

  .appointment-options {
    max-width: 1800px;
    grid-template-columns: 1fr 1fr;
    place-self: center;

    display: grid;
    column-gap: 100px;
  }

  .appointment-options h1 {
    grid-column: 1/-1;
  }

  .appointment-options div {
    max-width: 500px;
  }

  @media screen and (min-width: 1800px){
     main {
      height: 100vh;
      display: grid;
      grid-template-columns: 2fr 3fr;
      grid-template-rows: 3fr 2fr .5fr;
    }

    #theresaHeading {
      background-image: url('../images/sitePhotos/Theresa.jpg');
      background-position: 50% 90%;
      background-size: 175%;
      overflow: hidden;
    }

    .heading {
      grid-row: 1/4;
      max-height: 100%;
    }

    .heading > div {
      justify-self: end;
      align-self: end;
    }

    footer {
      display: grid;
    }
  }
}