.heading {
  height: 80vh;
  max-height: 800px;
  width: 100%;
  background-position: 60% top;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-image: url('../images/sitePhotos/I-love-you-000027632353_Medium.jpg');
    
  display: grid;
  grid-template-columns: 1fr;
  align-items: center;
}

.heading > div {
  display: grid;
  grid-gap: 20px;
  max-width: 500px;
  margin-left: 10px;
  padding: 10px;
  justify-items: start;
  position: sticky;
  top: 21.5%;
  left: 0;
  background: radial-gradient(farthest-side, rgba(255, 255, 255, 0.6), rgba(255, 255, 255, .15));
  filter: drop-shadow(0 0 10px  rgba(255, 255, 255, .2));
  box-shadow: 0 0 50px 20px rgba(255, 255, 255, .2);
}

.heading > div > div {
  display: grid;
  grid-gap: 5px;
}

.heading > div > div p:nth-child(2) {
  font-size: 10px;
  padding-left: 13px;
}

section {
  display: grid;
  padding: 20px;
  background: linear-gradient(
              135deg,
              white 22%,
              #ccdbee 25% 27%,
              #99afd7 30%,
              #6888BE);
  grid-gap: 20px;
}

section img {
  filter: drop-shadow(5px 5px 20px #233c6781);
  width: 100%;
  max-width: 300px;
  margin: auto;
  border-radius: 50%;
}

section p {
  text-indent: 1.5em;
}

.content{
  display: grid;
  grid-gap: 10px;
}

@media screen and (min-width: 780px) {
  .heading {
    grid-template-columns: 1fr 500px 3fr;
    align-items: center;
  }

  .heading > div {
    grid-column: 2 / 3
  }
}

@media screen and (min-width: 899px) {
  section {
    grid-template-columns: 1fr 350px minmax(auto, 800px) 1fr;
    justify-items: center;
    align-items: center;
    padding: 50px 20px;
  }

  section img {
    grid-column: 2/3;
  }
}

.sign-off {
  margin-top: 10px;
  text-indent: 0;
}