.heading {
  min-height: 75vh;
  display: grid;
  place-items: start;
  background: url(../images/sitePhotos/test-folder/219bc5665457256cd71c3252c340fad4.jpg);
  background-position: center bottom;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

.opening {
  width: 75vw;
  height: 75vw;
  min-width: 275px;
  min-height: 275px;
  max-width: 400px;
  max-height: 400px;
  background: url(../images/sitePhotos/test-folder/a924786ae1243f5a011d9a5f03d60d14.jpg);
  background-size: 100% 100%;
  background-repeat: no-repeat;
  opacity: .9;
  margin: 20px;
  margin-top: 50px;
  border-radius: 2px;
  display: grid;
}

.opening > p {
  font-size: 3.75vw;
  margin: 20px;
  border: 1px solid black;
  padding: 8px;
  background: rgb(204, 219, 238);
  border-radius: 2px;
  display: grid;
  place-content: center;
}

.opening > p > span {
  font-size: 4.25vw;
  text-align: center;
  font-weight: bold;
  margin-bottom: 5px;
}

@media screen and (max-width: 366px) {
  .opening > p > span {
    font-size: x;
  }

  .opening > p {
    font-size: 14px;
  }
}

@media screen and (min-width: 534px) {
  .opening > p {
    font-size: 21px;
  }

  .opening > p > span {
    font-size: 25px;
  }
}