.responsive-title {
  margin: 0;
}

.responsive-text {
  width: 65vw;
  max-width: 225px;
}

main {
  min-height: 100vh;
  width: 100%;
  padding: 20px;
  max-width: 1800px;
  margin: auto;

  display: grid;
  grid-template-columns: 1fr;
  grid-gap: 30px;
}

.short-policies {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: 90%;
  max-width: 1200px;
  min-width: 100px;
  margin: auto;
}

.policy-card {
  padding-top: 4.7vw;
  margin: 15vw 0vw;
  width: 65vw;
  height: 65vw;
  max-width: 250px;
  max-height: 250px;
  display: grid;
  grid-template-rows: auto 1fr;
  align-items: start;
  justify-items: center;
  grid-row-gap: 20px;
  position: relative;
}

.policy-card::after,
.policy-card::before {
  content: '';
  width: 70vw;
  height: 70vw;
  max-width: 300px;
  max-height: 300px;
  background: #233c67;
  position: absolute;
  top: 50%;
  left: 50%;
  margin-left: -35vw;
  margin-top: -35vw;
  z-index: -1;
}

.policy-card::after {
  background: #ccdbee;
  transform: rotate(-2deg);
} 

.policy-card::before {
  transform: rotate(2deg);
}

.icon-container {
  display:grid;
  place-items: center;
  font-size: 9.6vw;
  position: absolute;
  height: 17.92vw;
  width: 17.92vw;
  top: -15.5vw;
  color: rgba(255, 255, 255, .859);
  background-color: #4470ad;
  border-radius: 50%;
  text-align: center;
}

@media screen and (min-width: 412px) {
  .policy-card::after,
  .policy-card::before {
    margin-left: -150px;
    margin-top: -150px;
  }
}

@media screen and (min-width: 500px) {
  .policy-card {
    margin: 50px;
    padding-top: 20px;
  }
}
@media screen and (min-width: 427px) {
  .responsive-text {
    font-size: 16px;
  }

  .responsive-title {
    font-size: 18px;
  }

  .icon-container {
    font-size: 40px;
    top: -65px;
    height: 75px;
    width: 75px;
  }
}

@media screen and (max-width: 366px) {
  .responsive-text {
    font-size: 14px;
  }

  .responsive-title {
    font-size: 16px;
  }

  .icon-container {
    font-size: 35.5px;
    top: -50px;
    height: 65px; 
    width: 65px;  
  }
  
}