footer {
  background: #233c67;
  margin-bottom: 50px;
  padding: 15px 10px;
  color: white;
}

footer ul {
  display: grid;
  grid-row-gap: 20px;
}

footer > ul li:first-child {
  display: grid;
  grid-gap: 3px;
}

footer > ul > li:first-child > #phone {
  color: #6888be;
  font-weight: bold;
}

@media screen and (min-width: 780px) {
  body > footer {
    margin-bottom: 0px;
  }
}