main section {
  padding: 0px 20px;
  margin-bottom: 75px;
}

.heading {
  min-height: 75vh;
  background: url(../images/sitePhotos/iStock-650326960-min.jpg);
  background-size: cover;
  background-position: center;
  display: grid;
  place-items: center;
  color: white;
  position: relative;
}

.heading::before {
  content: '';
  position: absolute;
  top:0;
  left: 0;
  height: 100%;
  width: 100%;
  background: rgba(0, 0, 0, .25);
}

.heading div {
  display: grid;
  grid-gap: 20px;
  grid-column: 2/3;
  max-width: 600px;
  margin-bottom: 30px;
  background: radial-gradient(farthest-side, rgba(0, 0, 0, 0.6), rgba(0, 0, 0, .26));
  -webkit-filter: drop-shadow(0 0 10px  rgba(0, 0, 0, .34));
          filter: drop-shadow(0 0 10px  rgba(0, 0, 0, .34));
  -webkit-box-shadow: 0 0 50px 20px rgba(0, 0, 0, .34);
          box-shadow: 0 0 50px 20px rgba(0, 0, 0, .34);
}

.scrapbook {
  display: grid;
  grid-gap: 10px;
  place-items: center;
}

.scrapbook img {
  width: 95%;
  height: auto;
  max-width: 500px;
  background-color: white;
  padding: 1.5vw;
  border: 4vw solid black;
  border-radius: 2px;
  box-shadow: 0px 0px 8px 0px #E3DFEE;
  transform: rotate(2deg);
  z-index: -1;
  margin: 25px 0px -50px;
}

.scrapbook p {
  margin: 2.5vw 6.25vw;
  background-color: white;
  padding: 2.5vw;
  border: 1px solid rgba(0, 0, 0, .8);
  color: rgba(0, 0, 0, .8);
  box-shadow: 0 0 0 2.5vw white,
              0 0 10px 2.6vw rgba(0,0,0,0.15);
  max-width: 700px;
}

.scrapbook:nth-child(odd) img {
  background-color: white;
  border: 4vw solid #233c67;
  transform: rotate(-2deg)
              scaleX(-1);
}

.scrapbook:nth-child(odd) p {
  background-color: #99afd7;
  box-shadow: 0 0 0 2.5vw #99afd7,
              0 0 10px 2.6vw rgba(0,0,0,0.15);
}

.logo-ebook {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-wrap: wrap;
  text-align: center;
}

.logo-ebook * {
  margin: 20px;
}

.logo-ebook img {
  width: 30vw;
  max-width: 200px;
}

.ebook {
  display: grid;
  place-items: center;
}

@media screen and (min-width: 800px) { 
  .scrapbook {
    grid-template-columns: 1fr auto 240px auto 1fr;
    grid-template-rows: auto auto 500px auto;
  }

  .scrapbook .responsive-title {
    grid-column: 1/-1;
    grid-row: 1/2;
  }

  .scrapbook:nth-child(odd) img,
  .scrapbook:nth-child(even) p {
    grid-column: 2/4;
    grid-row: 2/-2;
  }

  .scrapbook:nth-child(odd) p,
  .scrapbook:nth-child(even) img {
    grid-column: -4/-2;
    grid-row: 3/-1;
  }

  .scrapbook p {
    padding: 20px;
    align-self: end;
  }

  .scrapbook > img {
    padding: 12px;
    border-width: 32px !important;
    margin-bottom: 0;
  }

  .scrapbook:nth-child(even) p {
    box-shadow: 0 0 0 20px white,
                0 0 10px 21px rgba(0,0,0,0.15);
  }

  .scrapbook:nth-child(odd) p {
    box-shadow: 0 0 0 20px #99afd7,
    0 0 10px 21px rgba(0,0,0,0.15);
  }
}