/* Nav color changes */
@media screen and (min-width: 881px) {
  header {
    background: linear-gradient( rgba(0, 0, 0, 1), rgba(0, 0, 0, 0));
  }
  
  .menu-item {
    color:  rgba(253, 251, 251, 1);
  }
  
  .menu-item:hover {
    color: white;
    border-color: rgba(253, 251, 251, 1);
  }
}

main {
  height: 100vh;
  width: 100%;
  background-color: black;
    
  display: grid;
  justify-items: center;
  align-items: center;
  position: relative;
}

main > figure {
  animation: backgroundSlideshow 30s linear infinite 0s;
  backface-visibility: hidden;
  background-size: cover;
  background-position: center;
  height: 100%;
  width: 100%;
  left: 0px;
  position: absolute;
  top: 0px;
  opacity: 0;
  z-index: 0;
}



main > figure:nth-child(1) {
  background-image: url('../images/sitePhotos/Happy-parents-with-their-children-000068068385_Medium.jpg');
}

main > figure:nth-child(2) {
  animation-delay: 6s;
  background-image: url('../images/sitePhotos/Portrait-Of-Father-And-Son-In-Countryside-000041060818_Medium.jpg');
}

main > figure:nth-child(3) {
  animation-delay: 12s;
  background-image: url('../images/sitePhotos/DSC_2980-crop.jpg')
}

main > figure:nth-child(4) {
  animation-delay: 18s;
  background-image: url('../images/sitePhotos/cowboy-with-arms-crossed-in-stable-000052203674_Medium.jpg');
}

main > figure:nth-child(5) {
  animation-delay: 24s;
  background-image: url('../images/sitePhotos/Hispanic-Family-outdoors-000019919637_Medium.jpg');
}

main > figure:nth-child(6) {
  animation-delay: 30s;
  background-image: url('../images/sitePhotos/young-couple-looking-back-000052703928_Medium.jpg');
}

main > figure:nth-child(7) {
  animation-delay: 36s;
  background-image: url('../images/sitePhotos/Father,-daughter-hugging-outdoors.-crop-000063011331_Medium.jpg');
}

main > figure:nth-child(8) {
  animation-delay: 42s;
  background-image: url('../images/sitePhotos/Feeling-free crop-000026093351_Medium.jpg');
}




@keyframes backgroundSlideshow {
  0%, 100% {
    animation-timing-function: ease-in;
    opacity: 0;
  }
  
  8% {
    animation-timing-function: ease-out;
    opacity: 1;
  }

  17% {
    opacity: 1
  }

  25% {
    opacity: 0
  }
  
  75% {
    opacity: 0
  }
}

main > section {
  height: 100%;
  width: 100%;
  background: rgba(0, 0, 0, 0.4);
  color: white;

  display: grid;
  justify-items: center;
  align-content: center;
  grid-row-gap: 50px;
  z-index: 1;
}

main > section > .logo {
  width: 75%;
  max-width: 800px;
  display: grid;
  justify-items: center;
  align-content: center;
  text-align: center;
  background: linear-gradient(farthest-side, rgba(0, 0, 0, .6), rgba(0, 0, 0, 0.0));
}

main > section > .logo > .logo-wrapper {
  padding: 10px;
  background-color: white;
  border: 1px solid white;
  border-radius: 50%;
  overflow: hidden;
  display: grid;
  justify-items: center;
  align-content: center;
  max-width: 150px;
  max-height: 150px;
}

main > section > .logo > .logo-wrapper > img {
  width: 100%;
  height: 100%;
}

#hero-caption {
  max-width: 600px;
  text-align: center;
  font-size: 16px;
  margin: 0px 20px;
  padding: 50px;
  background: radial-gradient(farthest-side, rgba(0, 0, 0, 0.6), rgba(0, 0, 0, .15));
  filter: drop-shadow(0 0 10px  rgba(0, 0, 0, .2));
  box-shadow: 0 0 50px 20px rgba(0, 0, 0, .2);
}

@media screen and (max-height: 675px) {
  main > section {
    margin-bottom: 50px;
  }

  #hero-caption {
    font-size: 14px;
    margin: 0px 10px;
    padding: 20px;
  }

  main > section {
    grid-row-gap: 40px;
  }

}