@import "/styles/fontawesome-free-5.10.1-web/css/all.min.css"; 

p {
  line-height: 1.4em;
}
@media screen and (max-width: 343px) {
  nav > #navbar > a > .logo > div > p {
    font-size: 12px;
    font-weight: bold;
  }
}

@media screen and (max-width: 445px) {
  nav > #navbar  {
    grid-template-columns: 50px 1fr 50px;
  }

  nav > #navbar > #email {
    display: none;
  }
}


header {
  width: 100%;
  position: fixed;
  z-index: 1;
  font-size: 15px;
}

li {
  list-style-type: none;
  text-align: center;
}

a {
  text-decoration: none;
  color: black;
}

.menu-show {
  display: grid;
}

.menu-hide {
  display:none;
}

#menu-items,
#navbar {
  width: 90%;
  max-width: 500px;
  margin: auto;
  border: 1px solid #233c67;
  border-radius: 7px;
  overflow: hidden;
  background: #233c67;

  grid-row-gap: 1px;
  margin-bottom: 30px;
}

.menu-item {
  height: 50px;
  background: linear-gradient(rgba(253, 251, 251, 1), rgba(235, 237, 238, 1));
  display: grid;
  align-content: center;
  width: 100%;
}

.menu-item:hover {
  background: linear-gradient(#233c67, #4470ad);
  color: rgba(253, 251, 251, 1);
}

#navbar {
  display: grid;
  grid-template-columns: 50px 50px 1fr 100px;
  width: 100%;
  max-width: 100%;
  margin-bottom: 0px;
  border-radius: 0;
}

#navbar > a > .logo {
  display: flex;
  align-items: center;
  justify-content: center;
}

#navbar > a > .logo > div {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 30px;
  max-width: 300px;
}

.logo-img {
  height: 100%; 
  border-radius: 50%;
  background: white;
  padding: 2px;
  margin-right: 5px;
}

#navbar > .menu-button {
  font-size: 30px;
  cursor: pointer;
}

.menu-item {
  display: flex;
  align-items: center;
  justify-content: center;
}

#menu-items > a > .menu-item > .fas {
  margin-right: 0.5em;
}

#contact::after {
  content: '(307) 347-4001';
  margin-left: 0.5em;
}

@media screen and (max-width: 1350px) {
  #contact::after {
    content: '';
  }

  .menu-item {
    font-size: 13px;
  }

  #menu-items > a > .menu-item > .fas {
    margin-right: 0.4em;
    font-size: 12px;
  }

}

@media screen and (max-width: 780px) {
  #contact::after {
    content: '(307) 347-4001';
  }

  .menu-item {
    font-size: 15px;
  }

}

@media screen and (max-width: 880px) {
  header {
    bottom: 0;
  }
}

@media screen and (min-width: 881px) {
  header {
    top: 0;
    display: grid;
    justify-content: center;
    align-content: center;
    background: linear-gradient(rgba(255,255,255, 1), rgba(255,255,255, 0));
    padding-bottom: 10px;
  }
  
  header > nav {
    display: grid;
    grid-template-columns: auto minmax(600px, 900px) minmax(20px, auto);
    color: black; 
    max-width: 1500px;
  }

  .menu-show,
  .menu-hide {
    display: grid;
  }

  nav > #menu-items,
  nav > #navbar {
    width: 100%;
    max-width: 100%;
    border: none;
    border-radius: 0px;
    color: white;
    overflow: visible;
  }

  nav > #navbar {
    grid-column: 1 / 2;
    grid-row: 1 / 2;
    background: transparent;
    display: grid;
    grid-template-columns: minmax(275px, 300px) minmax(auto, 300px);
  }

  nav > #menu-items {
    grid-column: 2 / 3;
    grid-row: 1 / 2;

    display: grid;
    grid-template-columns: repeat(5, auto);
    margin-bottom: 0px;
    background: none;
    grid-gap: 5px;
  }

  #logo {
    grid-column: 1/2;
  }

  .menu-item {
    border: none;
    height: 40px;
    background: transparent;
    color: black;
    border-bottom: 3px solid transparent;
  }

  .menu-item:hover {
    overflow: hidden;
    background: none;
    color: black;
    border-bottom: 3px solid black;
  }
  
  #navbar > .menu-button,
  #email,
  #phone {
    display: none;
  }
}