header {
  width: 100%;
  position: fixed;
  bottom: 0;
}

li {
  list-style-type: none;
  text-align: center;
}

a {
  text-decoration: none;
  color: black;
}

.menu-show {
  display: grid;
}

.menu-hide {
  display:none;
}

#menu-items,
#navbar {
  width: 90%;
  max-width: 500px;
  margin: auto;
  border: 1px solid #233c67;
  border-radius: 7px;
  overflow: hidden;
  background: #233c67;

  grid-row-gap: 1px;
  margin-bottom: 30px;
}

.menu-item {
  height: 50px;
  background: linear-gradient(#ccdbee, #99afd7);
  display: grid;
  align-content: center;
  width: 100%;
}

.menu-item:hover {
  background: linear-gradient(#233c67, #4470ad) ;
  color: #ccdbee;
}

#navbar {
  display: grid;
  grid-column-gap: 1px;
  grid-template-columns: 50px 50px 1fr 100px;
  width: 100%;
  max-width: 100%;
  margin-bottom: 0px;
  border-radius: 0;
}

#navbar > a > .logo {
  display: flex;
  align-items: center;
  justify-content: center;
}

#navbar > a > .logo > div {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 30px;
  max-width: 300px;
}

.logo-img {
  height: 100%; 
  border-radius: 50%;
  background: white;
  padding: 2px;
  margin-right: 5px;
}

#navbar > .menu-button {
  font-size: 30px;
  cursor: pointer;
}

.menu-item {
  display: flex;
  align-items: center;
  justify-content: center;
}

#menu-items > a > .menu-item > .fas {
  margin-right: 0.5em;
}

#contact::after {
  content: '(307) 347-4001';
  margin-left: 0.5em;
}

@media screen and (max-width: 950px) {
  #contact::after {
    content: '';
  }

  .menu-item {
    font-size: 14px;
  }
}

@media screen and (max-width: 779px) {
  #contact::after {
    content: '(307) 347-4001';
  }

  .menu-item {
    font-size: 16px;
  }
}

@media screen and (min-width: 780px) {
  header {
    top: 0;
  }
  
  header > nav {
    display: grid;
    grid-template-columns: 2fr 1fr minmax(500px, 750px) 2fr;
    background: linear-gradient(#ccdbee, #99afd7);
    border: 1px solid #233c67;
  }

  .menu-show,
  .menu-hide {
    display: grid;
  }

  nav > #menu-items,
  nav > #navbar {
    width: 100%;
    max-width: 100%;
    border: none;
    border-radius: 0px;
    overflow: visible;
  }

  nav > #navbar {
    grid-column: 2 / 3;
    grid-row: 1 / 2;
    background: transparent;

    display: grid;
    grid-template-columns: 1fr minmax(275px, 300px);
  }

  nav > #menu-items {
    grid-column: 3 / 4;
    grid-row: 1 / 2;

    display: grid;
    grid-template-columns: repeat(4, auto);
    margin-bottom: 0px;
    background: none;
    grid-gap: 1px;
  }

  #logo {
    grid-column: -1/-2;
    border-left: 1px solid #233c67;
  }

  .menu-item {
    border-right: 1px solid #233c67;
    height: 40px;
  }
  
  #navbar > .menu-button,
  #email,
  #phone {
    display: none;
  }

  
}