main {
  width: 100%;
  height: calc(100vh - 50px);
  display: grid;
}

section {
 width: 100%;
 height: 100%;
 position: relative;
 display: grid;
 -webkit-box-align: end;
     -ms-flex-align: end;
         align-items: end;
 color: white;
 justify-items: center;
 overflow: hidden;
}

.opacity-zero,
.opacity-one {
  opacity: 0;
  transition: opacity linear 300ms;
}

.opacity-one {
  opacity: 1;
}

.couples-program,
.couples-program-active {
  color: transparent;
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0px;
  left: 0px;
  z-index: 0;
  background: url('../images/sitePhotos/Difficulties-in-relationship-473153024_1258x838-min.jpeg');
  background-position: center bottom;
  background-size: cover;
  background-repeat: no-repeat;
}

.couples-program-active {
  background: url('../images/sitePhotos/Its-just-you-and-me-babe-1049240750_1256x838-min.jpeg');
  background-position: 35% center;
  background-size: cover;
  background-repeat: no-repeat;
}

.grief-program,
.grief-program-active {
  color: transparent;
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0px;
  left: 0px;
  z-index: 0;
  background: url('../images/sitePhotos/Woman-sitting-on-windowsill,-looking-out-of-window,-crying-521086706_1258x837-min.jpeg');
  background-position:80% bottom;
  background-size: cover;
  background-repeat: no-repeat;
}

.grief-program-active {
  background: url('../images/sitePhotos/happy-woman-open-arms-with-freedom-relax-936267372_1355x777.jpeg');
  background-position:center 35%;
  background-size: cover;
  background-repeat: no-repeat;
}

section > .invite {
z-index: 1;
padding: 1.2em;
max-width: 500px;
display: grid;
grid-gap: 10px;
position: relative;
}

section > .invite::after,
section > .invite::before {
  content: '';
  position: absolute;
  top: -50px;
  left: 50%;
  width: 40px;
  height: 40px;
  transform: translateX(-50%)
             rotate(225deg);

  border-top: 2px solid white;
  border-left: 2px solid white;
  animation: animate 1.5s linear infinite;
  opacity: 1;
  animation-delay: 0.25s;
}

section > .invite::before {
  top: -80px;
  animation-delay: 0.0s;
}

@keyframes animate {
  0% {
    opacity: 0;
  }
  25% {
    opacity: 1;
  }
  50%, 100% {
    opacity: 0;
  }
}

section::after {
  content: '';
  position: absolute;
  height: 100%;
  width: 100%;
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.0)), to(rgba(0, 0, 0, 0.7)));
  background: linear-gradient(rgba(0, 0, 0, 0.0), rgba(0, 0, 0, 0.7));
}

.active::before,
.active::after {
  display: none;
}

.invite > h1 {
  position: relative;
  text-align: center;
}

.active > h1{
  bottom: 59px;
}

.active > .problem {
  opacity: 0;
  transition: opacity linear 100ms;
}

.invite > .solution {
  position: absolute;
  bottom: 0;
  padding: 1.2em;
  opacity: 0;
  z-index: -1;

  display: grid;
  grid-gap: .5em;
  justify-items: center;
}

.active > .solution {
  opacity: 1;
  z-index: 1;
  transition: opacity linear 300ms;
}


@media screen and (min-width: 881px) {
  main {
    height: 100vh;
  }
}

@media (orientation: landscape) {
  main {
    grid-template-columns: 1fr 1fr;
  }
}